body {

	background-image: url("../img/background.png");
	width: 100%;
	height: 100%;
	margin: 0 auto !important;
	text-align: center;
}

.title {
	font-size: 30px;
	text-shadow: 2px 2px green;
	color: blue;
}

.sp img {
	width: 100%;
	height: auto;
	max-height: 300px;

}

.khunganh {
	width: 100%;
	height: 300px;
}

div .sp {
	width: 30%;
	margin: 5px 10px;
    border: 1px solid red;
    float: left;

}

div .sp:hover {
    border: 1px solid #777;
    box-shadow: 6px 6px 3px #888888;
}

div.desc {
	width: 80% !important;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

#frame {
	width: 96%;
	margin-left: 2%;	
}