* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ABF0D7;
}
#wrap {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

#menubar {
  width: 100%;
  padding-left: 0;
  margin: 0 10px;
  
}

ul li {
  background: #000;
  list-style: none;
  float: left;
  height: 44px;
  padding: 10px 5px;
}
ul li li {
  list-style-image: none;
  list-style-type: none;
  
}
ul li a {
  width: 185px;
  height: 40px;
  lineheight: 53px;
  border-bottom: 6px solid #636393;
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  display: block;
  -moz-transition-property: 0.2s, all, linear;
  -o-transition-property: 0.2s, all, linear;
  -webkit-transition-property: 0.2s, all, linear;
  transition-property: 0.2s, all, linear;
}
ul li:nth-child(1) a {
  border-color: #636393;
}
ul li:nth-child(1) a:hover {
  border-bottom: 35px solid #636393;
  height: 1px;
}
ul li:nth-child(2) a {
  border-color: #B5222D;
}
ul li:nth-child(2) a:hover {
  border-bottom: 35px solid #B5222D;
  height: 1px;
}
ul li:nth-child(3) a {
  border-color: #D4953C;
}
ul li:nth-child(3) a:hover {
  border-bottom: 35px solid #D4953C;
  height: 1px;
}
ul li:nth-child(4) a {
  border-color: #609491;
}
ul li:nth-child(4) a:hover {
  border-bottom: 35px solid #609491;
  height: 1px;
}
ul li:nth-child(5) a {
  border-color: #87A248;
}
ul li:nth-child(5) a:hover {
  border-bottom: 35px solid #87A248;
  height: 1px;
}

.pic {
  height: 360px;
    width: 240px;
    overflow: hidden;
    margin: 10px 0 10px 70px;
    border: 10px solid white;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
    float: left;
}

.image img{
       height: 360px;
    width: 240px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  

}

.image img:hover {
  width: 360px;
  height: 540px;
}
